*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.left-box{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;  
    background-color: #D1DCE7;
}
.left-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.text{
    height: 12rem;
    padding: 10px;
    font-size: 1.5rem;
    width: 30rem;
    box-shadow: rgb(128, 54, 54) 4px 4px 10px 0px ;
}
.text:hover{
    box-shadow: rgb(128, 54, 54) 6px 6px 12px 0px ;
}
.btn{
    position: relative;
    right: 240px;
    margin-top: 2rem;
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(to right ,#F72267 , #FAA23F);
    border: none;
    font-weight: 700;
    transition: all 2s ease-in-out;
}
.btn:hover{
    background: linear-gradient(to right,#FAA23F ,#F72267 );
    box-shadow: rgb(128, 54, 54) 4px 4px 10px 0px ;
}
.heading{
    text-align: center;
    margin-top: 1rem;
}
.sub{
    margin: 1rem;
    font-size: 1rem;
}
@media screen and (max-width:1200px) {
    .left-item{
        flex-direction: column;
    }
    .left-box{
        flex-direction: column;
    }
    .btn{
        justify-items: center;
    }
    .btn{
        right: 0px;
    }

}
@media screen and (max-width:1000px) {
    .container{
        grid-template-rows: repeat(2 , 1fr);
        grid-template-columns: repeat(1 , 1fr);
    }
    .text{
        margin: 1rem;
    }
}
